<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мектеп мұғалімдері</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Мектеп</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form id="search-form" class="d-flex ms-auto my-2 my-lg-0" action="{{ url_for('catalog') }}" method="get">
        <input class="form-control me-2" type="text" name="q" placeholder="Іздеу..." value="{{ query if query }}">
        <button class="btn btn-primary btn-custom" type="submit">Іздеу</button>
      </form>
      <ul class="navbar-nav ms-3 d-flex flex-row flex-wrap">
        <li class="nav-item me-2 mb-2 mb-lg-0">
          <a class="btn btn-custom btn-success w-100" href="{{ url_for('catalog') }}">Каталог</a>
        </li>
        {% if 'admin' not in session %}
        <li class="nav-item me-2 mb-2 mb-lg-0">
          <a class="btn btn-success btn-custom w-100" href="{{ url_for('login') }}">Кіру</a>
        </li>
        {% else %}
        <li class="nav-item me-2 mb-2 mb-lg-0">
          <a class="btn btn-warning btn-custom w-100" href="{{ url_for('add_teacher') }}">Қосу</a>
        </li>
        <li class="nav-item me-2 mb-2 mb-lg-0">
          <a class="btn btn-danger btn-custom w-100" href="{{ url_for('logout') }}">Шығу</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>

{% block content %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
