{% extends "base.html" %}
{% block title %}Өзгерту{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Мұғалім ақпаратын өзгерту</h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label>Аты</label>
            <input type="text" name="name" class="form-control" value="{{ teacher.name }}">
        </div>
        <div class="mb-3">
            <label>Пәні</label>
            <input type="text" name="subject" class="form-control" value="{{ teacher.subject }}">
        </div>
        <div class="mb-3">
            <label>Жылдар</label>
            <input type="number" name="years" class="form-control" value="{{ teacher.years }}">
        </div>
        <div class="mb-3">
            <label>Қызметі</label>
            <input type="text" name="position" class="form-control" value="{{ teacher.position }}">
        </div>
        <div class="mb-3">
            <label>Сипаттама</label>
            <textarea name="description" class="form-control">{{ teacher.description }}</textarea>
        </div>
        <div class="mb-3">
            <label>Фото</label>
            <input type="file" name="photo" class="form-control">
        </div>
        <button class="btn btn-primary">Сақтау</button>
    </form>
</div>
{% endblock %}
